html {
    margin: 0;
    overflow: hidden;
}

body{
    margin: auto;
    display: grid;
    grid-template-rows: repeat(20, 40px);
    grid-template-columns: repeat(18, 80px);
}

h2{
    margin: 0;
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 8;
}

h2>a{
    text-decoration: none;
    color: black;
}

#category{
    padding-top: 7px;
    padding-left: 93px;
    border-top: 1px solid rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 19;
}

#notice {
    padding-top: 7px;
    padding-left: 93px;
    border-top: 1px solid rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 19;
    color: red;
}


#category>span{
    display: inline-block;
    text-align: center;
    width: 112px;
    font-weight: bold;
}

#all {
    cursor: pointer;
}

#recent {
    cursor: pointer;
}

#searchDiv {
    background-color: rgba(0, 0, 0, .2);
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 19;

    display: grid;
    grid-template-rows: repeat(1, 40px);
    grid-template-columns: repeat(40, 36px);
}

#searchIcon{
    grid-row: 1;
    grid-column: 3;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
}

#searchIcon>img {
    width: 23px;
    height: 23px;
    grid-row: 4;
    grid-column: 3;
}

#searchDiv>#searchBar{
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 37;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding-left: 5px;
    color: rgba(0, 0, 0, .7);
}

#searchDiv>#clear{
    grid-row: 1;
    grid-column-end: 38;
    font-size: 25px;
    margin: auto;
    cursor: pointer;
}

#list {
    grid-row-start: 5;
    grid-row-end: 21;
    grid-column-start: 1;
    grid-column-end: 19;
    background-color: rgb(128, 173, 199);
    
    display: grid;
    grid-template-rows: 20px repeat(6, 100px);
    grid-template-columns: repeat(18, 80px);
}

#listInner {
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 17;

    display: grid;
    grid-template-rows: repeat(6, 100px);
    grid-template-columns: repeat(18, 80px);

    overflow-x: hidden;
}

.listEle {
    grid-column-start: 1;
    grid-column-end: 15;
    background-color: rgba(255, 255, 255, .7);

    display: grid;
    grid-template-rows: repeat(5, 20px);
    grid-template-columns: repeat(11, 100px);
}

.eleImg {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column: 1;
    font-size: 160%;
    margin-top: 32.73px;
    margin-bottom: 32.73px;
    text-align: center;
}

.eleName {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 11;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.eleMail {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 11;
    font-size: 15px;
    margin-left: 10px;
}

.eleFunc {
    grid-row: 3;
    grid-column-start: 6;
    grid-column-end: 11;

    display: none;
    grid-template-rows: 1;
    grid-template-columns: repeat(10, 50px);
    text-align: center;    
}

.sendMessage{
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgb(45, 221, 183);
    margin-right: 5px;
    font-size: 14px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.noExpress{
    grid-row: 1;
    grid-column-start: 5;
    grid-column-end: 8;
    background-color: rgb(81, 147, 209);
    margin-right: 5px;
    font-size: 14px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.deleteFriend{
    grid-row: 1;
    grid-column-start: 8;
    grid-column-end: 10;
    background-color: rgb(235, 59, 59);
    font-size: 14px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.eleEtc {
    grid-row: 3;
    grid-column: 11;
    font-weight: bold;
    cursor: pointer;
}

.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select:none;
}