body{
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
}

h1 {
    text-align: center;
    margin-top: 1.2em;
    padding-bottom: 1.2em;
    border-bottom: 2px red solid;
}

#inner {
    display: grid;    
    grid-template-columns: repeat(13, 109.53px);
    padding-top: 3em;
}

#addTab {
    background-color: rgba(255, 255, 255, 0.6);
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 1;
    height: 230px;
    border-radius: 15px;
}

#addForm {
    margin-top: 30px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

#addForm>#date {
    width: 140px;
    height: 2em;
    border-radius: 12px;
    border: none;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.9);
}

#addForm>#text {
    border-radius: 10px;
    padding-left: 5px;
    border: none;
    width: 90%;
    margin-top: 20px;
    height: 30px;
}

#addForm>#submit {
    margin-top: 15px;
    background-color: rgb(230, 140, 134);
    color: rgb(43, 75, 90);
    font-weight: bold;
    font-size: 16px;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 12px;
    transition-property: color;
    transition-duration: 1s;
}

#addForm>#submit:hover {
    color: rgb(8, 245, 47);
}

#back {
    position: absolute;
    left: 3%;
}

#listTab {
    background-color: rgba(255, 255, 255, 0.6);
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row: 1;
    height: 480px;
    border-radius: 15px;
}

#listTab>h2 {
    text-align: center;
    border-bottom: darkblue 1.5px dashed;
    margin-top: 19px;
    padding-bottom: 19px;
}

#listTab>p{
    padding-top: 10px;
    padding-left: 50px;
}

